<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.julescoynel</string>
	<key>--create-docset</key>
	<true/>
	<key>--create-html</key>
	<true/>
	<key>--docset-desc</key>
	<string>Documentation of Tunes Notifier.</string>
	<key>--ignore</key>
	<array>
		<string>Appledoc</string>
		<string>iTunes.h</string>
		<string>Spotify.h</string>
	</array>
	<key>--install-docset</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--merge-categories</key>
	<true/>
	<key>--merge-category-comment</key>
	<true/>
	<key>--output</key>
	<string>./Appledoc</string>
	<key>--prefix-merged-sections</key>
	<true/>
	<key>--print-information-block-titles</key>
	<false/>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>Jules Coynel</string>
	<key>--project-name</key>
	<string>Tunes Notifier</string>
	<key>--project-version</key>
	<string>1.3</string>
	<key>--publish-docset</key>
	<false/>
	<key>--repeat-first-par</key>
	<false/>
	<key>--verbose</key>
	<integer>3</integer>
</dict>
</plist>
